.button {
    cursor: pointer;

    display: block;
    margin: 0 auto;
    padding: 1em;

    border: 1px solid black;

    font-size: 30px;
    font-weight: 300;

    transition: all .5s;
}

.button.button_bot {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.button:hover {
    background-color: #000;
    color: #FFF;

    transition: all .5s;
}